<nav class="navbar navbar-dark bg-primary">
    <button mat-mini-fab color="warn" >
      <mat-icon>dashboard</mat-icon>
    </button>
    <span class="example-icon"></span>
    <mat-icon>{{iconTitle}}</mat-icon>
    <span class="example-icon"></span>
    <span class="navbar-brand mb-0 h1">{{pageTitle}}</span>
    <span class="example-spacer"></span>
    <mat-icon [color]="UserStatusColour">account_box</mat-icon>
    <span class="example-icon"></span>
    <mat-icon matBadge="{{counter}}" matBadgeColor="warn" matBadgePosition="before">shopping_cart</mat-icon>
    <span class="nav-icon"></span>
    <button routerLink="/about">
      <mat-icon>info</mat-icon> 
    </button>
    <button routerLink="/setproduct">
      <mat-icon>settings</mat-icon>
    </button>
  </nav>