<app-header pageTitle = "About" iconTitle = "info"></app-header>
<!-- Page to provide info on the web application-->
<div class="main">
    <p><b>This Web-Application was developed as part of the Applied Project and Minor Dissertation Module, taught at GMIT, by Richard Cooke, a 4th year student in the Computing in Software Development Course.</b> </p>
    <p><b>The application aims to provide the user with experiences found on a modern day e-commerce web-application</b></p>
    <a href="https://github.com/CookeRichard94/fyp" target="_blank"><img src="../../../assets/images/git.png"></a>
    <p><b>The technologies used in the development of this web-application are as follows:</b></p>
    <a href="https://angular.io/start" target="_blank"><img src="../../../assets/images/angular.png" height="300" width="300"></a>
    <a href="https://nodejs.org/en/" target="_blank"><img src="../../../assets/images/node.png"  height="300" width="300"></a>
    <a href="https://firebase.google.com/" target="_blank"><img src="../../../assets/images/firebaselogo.png"  height="300" width="300"></a>
    <a href="https://www.heroku.com/" target="_blank"><img src="../../../assets/images/heroku.png"  height="300" width="300"></a>
</div>

