<app-header pageTitle = "Cart" iconTitle = "shopping_cart"></app-header>

<html>
<mat-card>

<mat-card-content *ngIf="toggle else showProductDetails">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of members | async">
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td><b>€</b> {{item.price}}</td>
                    <td><button class="button" (click)="showDetails(item);toggle=!toggle">View</button>
                    <button class="button2" (click)="removeFromCart(item._id2)">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <p><b>
            Total Price: € {{total}}
            </b>
        </p>
        <br/>
    <button class="button3">Place Order(Not Working)</button>
    <br/>
    
</mat-card-content>
<ng-template #showProductDetails>
    <b>{{ myDocData.name }}</b>
    <span class="small-spacer"></span>
    <span matTooltip="Show All Products">
        <mat-icon color="primary" (click)="toggle=!toggle">backspace</mat-icon>
    </span>
    <br/>
    <img [src]="profileUrl | async" width="300" height="300" /> 
    <p class="label-hint" mat-line><i> {{myDocData.descr }}</i></p>
    <p class="label-go" mat-line> <b>Price:</b> € {{myDocData.price }} </p>
</ng-template>
</mat-card>
</html>