<app-header pageTitle = "Cart" iconTitle = "shopping_cart"></app-header>

<html>
<mat-card>

<mat-card-content *ngIf="toggle else showProductDetails">
    <!-- List all items in users cart-->
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of members | async">
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td><b>€</b> {{item.price}}</td>
                    <!-- Lets user view single product-->
                    <td><button class="button" (click)="showDetails(item);toggle=!toggle">View</button>
                        <p class="space"></p>
                        <!--Removes specified item from cart-->
                    <button class="button2" (click)="removeFromCart(item._id2)">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <p><b>
            <!-- The total cart price-->
            Total Price: € {{total}}
            </b>
        </p>
        <br/>
        <!--was to clear cart and add to order collection, did not worki, functionality removed-->
    <button class="button3">Place Order (Not Working)</button>
    <br/>
    
</mat-card-content>
<!--Template for showing individual product-->
<ng-template #showProductDetails>
    <span matTooltip="Show All Products">
        <mat-icon color="primary" (click)="toggle=!toggle">backspace</mat-icon>
    </span>
    <div class="product">
        <span class="small-spacer"></span>
        <b class="title">{{ myDocData.name }}</b>
        <br/>
        <img [src]="profileUrl | async" width="500" height="300" /> 
        <p class="detail" mat-line> {{myDocData.descr }}</p>
        <p class="detail" mat-line> <b>Price:</b> € {{myDocData.price }} </p>
        <p> Free Delivery on all Orders!</p>
    </div>
</ng-template>
</mat-card>
</html>