<app-header pageTitle = "Cart" iconTitle = "shopping_cart"></app-header>

<mat-card>

<mat-card-content *ngIf="toggle else showProductDetails">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of members | async">
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td><b>€</b> {{item.price}}</td>
                    <td><button class="button" (click)="showDetails(item);toggle=!toggle">View</button>
                    <button class="button2" (click)="removeFromCart(item._id)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    <button>Place Order</button>
</mat-card-content>
<ng-template #showProductDetails>
    <b>{{ myDocData.name }}</b>
    <span class="small-spacer"></span>
    <span matTooltip="Show All Products">
        <mat-icon color="primary" (click)="toggle=!toggle">backspace</mat-icon>
    </span>
    <br/>
    <img [src]="profileUrl | async" width="300" height="300" /> 
    <p class="label-go" mat-line> {{myDocData.sname }}  {{myDocData.lname }}</p>
    <p class="label-hint" mat-line> {{myDocData.descr }}</p>
    <p class="label-go" mat-line> Color: {{myDocData.color }} Size: {{myDocData.size }} Price: {{myDocData.price }} </p>
    <p class="label-error" mat-line> Shipping: {{myDocData.shipping }} Discount: {{myDocData.discount }} </p>
</ng-template>
</mat-card>
