<app-header pageTitle = "Products" iconTitle = "shopping_cart"></app-header>
<!-- Page for displayog products-->
<html>
<mat-card>
    <mat-card-actions align="start">
        <form #searchForm="ngForm" class="search">
            <mat-form-field class="example_form">
                    <input matInput type="text" placeholder="Search" #search="ngModel" ngModel id="search" name="search" minlength="3" maxlength="50">
            </mat-form-field>
            <span matToolTip="Search">
                <mat-icon color="warn" (click)="this.searchForm.reset();">clear</mat-icon>
            </span>
            <span class="small_spacer"></span>
            <!-- Filter to search through products-->
            <span matToolTip="Search">
                <mat-icon color="success" (click)="getFilterData(search.value)">search</mat-icon> 
            </span>

        </form>

    </mat-card-actions>
    <mat-card-content *ngIf="toggle else showProductDetails">
        <!-- Table to display a list of products-->
        <div>
            <table class="table">
                <thead>
                    <tr class="table">
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of members | async">
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td><b>€</b> {{item.price}}</td>
                        <!-- Button to view a single product-->
                        <td><button class="button" (click)="showDetails(item);toggle=!toggle">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </mat-card-content>
    <!-- Template when viewing a single product-->
    <ng-template #showProductDetails>
        <span matTooltip="Show All Products">
            <mat-icon color="primary" (click)="toggle=!toggle">backspace</mat-icon>
        </span>
        <br>
        <div class="product">
        <span class="small-spacer"></span>
        <b class="title">{{ myDocData.name }}</b>
        <br/>
        <img [src]="profileUrl | async" width="500" height="300" /> 
        <p class="detail" mat-line> {{myDocData.descr }}</p>
        <p class="detail" mat-line> <b>Price:</b> € {{myDocData.price }} </p>
        <p> Free Delivery on all Orders!</p>
        </div>

        <!-- Review page called, passing the products id and the users id-->
        <div class="productreview">
            <star-review [productId]="myDocData._id" [userId]="userId"></star-review>

            <br>
            <br>

            <mat-error *ngIf="savedChanges">
                <br/>
                <br/> Item added to cart
                <mat-icon (click)="savedChanges=!savedChanges" color="accent">close</mat-icon>
                <span class="med-spacer"></span>
                <br/>
            </mat-error>

            <br/>
            <!-- For adding an item to the cart-->
            <mat-icon (click)="countProducts('remove')" color="warn">remove</mat-icon>
            {{ counter }}
            <mat-icon (click)="countProducts('add')" color="success">add</mat-icon>
            <span class="med-spacer"></span>
            <!--Disable if the counter is less than 1-->
            <button [disabled]="counter < 1" mat-raised-button color="accent" (click)="addToCart(myDocData, counter)">Add to Cart</button>
        </div>
        <br/>
    </ng-template>
</mat-card>
</html>