.mat-success {
    color: rgb(132, 204, 23);
}

.button {
  background-color: rgb(27, 62, 216); 
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.table {
  border: black;
  width:80%;
  border: 1px solid black;
  border-width: 2px;
  margin-right: 0px;
  margin-left: auto;
}

.search {
  align-self: baseline;
}

.productreview {
  width:600px;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  margin-left: auto;
  margin-right: 0;
}

.product {
  width: 700px;
  height: auto;
  margin: 0 auto;
}

.title {
  font-size: 26px;
}

th, td {
  border: 1px solid black;
}


