<app-header pageTitle = "Products" iconTitle = "shopping_cart"></app-header>
<html>
<mat-card>
    <mat-card-actions align="start">
        <form #searchForm="ngForm" class="search">
            <mat-form-field class="example_form">
                    <input matInput type="text" placeholder="Search" #search="ngModel" ngModel id="search" name="search" minlength="3" maxlength="50">
            </mat-form-field>
            <span matToolTip="Search">
                <mat-icon color="warn" (click)="this.searchForm.reset();">clear</mat-icon>
            </span>
            <span class="small_spacer"></span>
            <span matToolTip="Search">
                <mat-icon color="success" (click)="getFilterData(search.value)">search</mat-icon> 
            </span>

        </form>

    </mat-card-actions>
    <mat-card-content *ngIf="toggle else showProductDetails">
        <table class="table">
            <thead>
                <tr class="table">
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of members | async">
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td><b>€</b> {{item.price}}</td>
                    <td><button class="button" (click)="showDetails(item);toggle=!toggle">View</button></td>
                </tr>
            </tbody>
        </table>

    </mat-card-content>
    <ng-template #showProductDetails>
        <b>{{ myDocData.name }}</b>
        <span class="small-spacer"></span>
        <span matTooltip="Show All Products">
            <mat-icon color="primary" (click)="toggle=!toggle">backspace</mat-icon>
        </span>
        <br/>
        <img [src]="profileUrl | async" width="300" height="300" /> 
        <p class="label-hint" mat-line> {{myDocData.descr }}</p>
        <p class="label-go" mat-line> <b>Price:</b> € {{myDocData.price }} </p>

        <mat-error *ngIf="savedChanges">
            <br/>
            <br/> Item added to cart
            <mat-icon (click)="savedChanges=!savedChanges" color="accent">close</mat-icon>
            <span class="med-spacer"></span>
            <br/>
        </mat-error>

        <br/>
        <mat-icon (click)="countProducts('remove')" color="warn">remove</mat-icon>
        {{ counter }}
        <mat-icon (click)="countProducts('add')" color="success">add</mat-icon>
        <span class="med-spacer"></span>
        <button [disabled]="counter < 1" mat-raised-button color="accent" (click)="addToCart(myDocData, counter)">Add to Cart</button>
        <br/>
    </ng-template>
</mat-card>
</html>