.mat-success {
    color: rgb(132, 204, 23);
}

.button {
  background-color: rgb(27, 62, 216); 
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.table {
  border: black;
  width:100%;
  border: 1px solid black;
  border-width: 2px;
}

.search {
  align-self: baseline;
}


