<!-- Page for adding user details to database-->
<html>
    <mat-card *ngIf="!savedChanges else showSavedChanges">
        <div class="form2" align="center" >
        <form #formData='ngForm' class="form">
            
            <br>
            <!-- Input fields for adding user details-->
            <mat-form-field >
                <p>First Name: </p><input class="input" matInput placeholder=" First Name" name="firstName" id="firstName" ngModel required minlength="3" maxlength="15">
            </mat-form-field>
            <br>
            <mat-form-field>
                <p>Surname: </p><input class="input" matInput placeholder=" Surname" name="surname" id="surname" ngModel required minlength="3" maxlength="15">
            </mat-form-field>
            <br>
            <mat-form-field>
                <p>Address: </p><textarea class="input" matInput placeholder=" Address" name="address" id="address" ngModel required minlength="20"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
                    <p>Age: </p><input class="input" matInput type="number" placeholder=" Age" name="age" id="age" ngModel  pattern="[0-9]+">
            </mat-form-field>
            <br>
            <br>
            <!--Button to log user out-->
            <button type="button"(click)="logout()" mat-raise-button-color="primary">Logout</button>
            <!-- Button to add details, if details are not valid then button is diabled-->
            <button type="button"(click)="onSubmit(formData.value)" [disabled]="!formData.valid" mat-raise-button-color="primary">Submit</button>
        </form>
        </div>
    </mat-card>
    <!--Template when info is updated-->
    <ng-template #showSavedChanges>
        <br>
        <br>
        <br>
        <mat-error>Your information has been updated. Please log back in.</mat-error>
        <br>
        <br>
        <br>
        <!-- Routes to login page-->
        <mat-card-actions align="start">
            <button type="button" (click)="savedChanges=false;routeLoginPage();" mat-raised-button-color="accent">Close</button>
        </mat-card-actions>
    </ng-template>
</html>