.form {
    align-items: center;
    text-align: center;
}

.input {
    border: 1px solid black;
    border-width: 2px;
    height: 40px;
    min-height: 40px;
    width: 200px;
    background-color: white;
}

.form2 {
    border: 1px solid black;
    border-width: 2px;
    background-color: coral;
    width: 600px;
    height: 600px;
    text-align: center;
    display: block;
    margin:0 auto;
}

